*.pyc
*~
/.vscode
__pycache__
migrations
myvenv
db.sqlite3
/static
.DS_Store
*.xml
*.pyc
*.pyc
store_management_system/Accounts/__pycache__/models.cpython-38.pyc
*.iml
store_management_system/.idea/store_management_system.iml
