{% extends "base.html" %}
{% load static %}
{% block content %}
    {% load static %}
    <div id="get_emp_id" class="{{id}}"></div>
    <form enctype="multipart/form-data" method="POST" id="create_staff">
        {% csrf_token %}
        <input id="username"><br>
        <input type="file" name="img" accept="image/*"><br>
        <input id="emp_id" readonly><br>
        <button> Submit </button>
    </form>
{% endblock content %}
{% block js %}
    <script src="{% static 'js/create_staff.js'%}"></script>
{% endblock js %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/create_staff.css' %}" />
{% endblock css %}