{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-center pt-3">
        <button onclick="window.location.href = 'add/'" class="btn btn-primary">Add Product</button>
    </div>
    {% for p in products %}
        <div class="info-box">
            <div class="image">
                <img src="/media/{{p.image}}" align="left">
            </div>
            <div class="info">
                <a href='{{p.id}}/'>edit</a><br>
                {{p.name}} <br>
                {{p.description}} <br>
                {{p.price}} <br>
            </div>
        </div>
    {% endfor %}
{% endblock content %}

{% block css %}
    <link rel="stylesheet" href={% static 'css/edit_product.css' %} />
{% endblock css %}